<nav class="w-full">
    <div class="flex bg-gray-800 drop-shadow-[0_4px_6px_rgba(59,130,246,0.5)] justify-between items-center text-white">
        <div class="flex w-full justify-between">
            <img src="assets/logo.png" class="w-[6%] rounded-xl" alt="logo">
            <div>
                <ul class="list-none flex gap-6 items-center w-full  text-white p-4 font-bold cursor-pointer hover:drop-shadow-gray-500">
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="about">About</a></li>
                    <li>Project</li>
                    <li>Blogs</li>
                    <li>Contact Us</li>
                </ul>
            </div>

        </div>

    </div>
</nav>