<div class="w-full p-5 bg-[#455064]">
    <div class="flex">
        <div>
            <h1 class="uppercase font-bold text-white animate-slide-right" style="font-size: 6rem;">FrontEnd <br>Developer</h1>
            <div class="border w-[30rem] border-[#5ab3b3] border-2"></div>

            <div class="animate-slide-left">
                <p class="text-color text-[3rem]">Hi, I'm <span class="text-[#5ab3b3] font-bold">Navya Golash</span></p>
                <p class="text-xl text-color leading-relaxed mb-8">
                    A passionate <span class="text-[#5ab3b3] font-semibold">Front-End Developer</span> with experience
                    in building
                    responsive and dynamic websites using <strong>Angular</strong>, <strong>Tailwind CSS</strong>, and
                    modern web technologies.
                    I love turning ideas into reality through clean code and beautiful design.
                </p>
                <div class="flex gap-4">
                    <a href="https://www.linkedin.com/in/navya-golash-19869a208/" target="_blank"
                        class="bg-[#5ab3b3] text-white px-6 py-3 rounded-xl shadow hover:bg-cyan-700 transition">
                        View My Work
                    </a>
                    <a href="#contact"
                        class="bg-gray-100 text-gray-800 px-6 py-3 rounded-xl shadow hover:bg-gray-200 transition">
                        Contact Me
                    </a>
                </div>
            </div>
        </div>
        <div
            class="p-[5px] rounded-full bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500 animate-border inline-block animate-slide-right">
            <div class="bg-white rounded-full">
                <img src="assets/Focused and Cool Digital Workspace.png" class="rounded-full w-[51rem]" alt="">
            </div>
        </div>

    </div>
    <div class="container mx-auto mt-4">
        <div>
            <h1 class="text-white text-2xl text-center uppercase text-[3rem] font-bold pb-4 ">Skill</h1>
            <p class="border-2 border-[#5ab3b3] w-[10rem] justify-self-center"></p>

        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8  mt-4">

            <!-- Skills Box with animated border -->
            <div class="box flex-col hidden-section left">
                <div class="p-6">
                    <h3 class="text-2xl font-medium highlight mb-4 text-center">Skills</h3>
                    <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
                        <span *ngFor="let skill of skills"
                            class="bg-[#1f1b2e] py-2 px-4 rounded-lg text-sm text-white shadow">
                            {{ skill }}
                        </span>
                    </div>
                </div>

            </div>

            <!-- Tools Box with animated border -->
            <div class="box flex-col hidden-section right">
                <div class="p-6">
                    <h3 class="text-2xl font-medium highlight mb-4 text-center">Tools</h3>
                    <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
                        <span *ngFor="let tool of tools"
                            class="bg-[#1f1b2e] py-2 px-4 rounded-lg text-sm text-white shadow">
                            {{ tool }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto mt-4">
        <div>
            <h1 class="text-white font-bold text-[3rem] uppercase text-center ">experience</h1>
            <p class="border-2 border-[#5ab3b3] w-[12rem] justify-self-center"></p>
            <p class="text-color text-justify mt-2">I have worked on various project that showcase my skills in <strong
                    class="highlight font-bold">Frontend Developer</strong>. My experience includes building responsive
                website, integrating API and ensuring cross-brower compatibility</p>
            <p class="text-color text-justify mb-5">I'm always eager to learn new technologies and improve my skills to
                deliver the best user experience</p>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="rounded-gradient-border simple hidden-section left">
                    <div class="rounded-gradient-border-content">
                        <div *ngFor="let exper of experience">
                            <h2 class="text-white font-bold">{{exper.company}}</h2>
                            <span class="highlight font-semibold">{{exper.role}}</span><br>
                            <span class="italic highlight">{{exper.duration}}</span>
                            <ul class="list-none pl-6">
                                <li class="text-color text-justify" *ngFor="let item of exper.description">- {{item}}
                                </li>
                            </ul>
                            <!-- <p class="text-color text-justify">{{exper.description}}</p> -->
                            <p class="highlight">{{exper.techStack}}</p>
                        </div>
                    </div>
                </div>
                <div class="hidden-section right">
                    <img src="assets/experience/exper.png" class="rounded-2xl shadow-2xl" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto mt-4">
        <div>
            <h1 class="text-white font-bold uppercase text-[3rem] text-center">Project</h1>
            <p class="border-2 border-[#5ab3b3] w-[12rem] justify-self-center"></p>

            <div class="bg-gray-900 flex justify-center items-center p-10 mt-6 rounded-xl">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

                    <!-- Card 1 -->
                    <div class="card border-4 border-transparent hover:border-[#5ab3b3] transition-all duration-500 rounded-lg p-6 text-white opacity-0 transform -translate-x-20"
                        data-animate="left">
                        <h2 class="text-2xl font-bold mb-4">Frontend Development</h2>
                        <p>Building responsive, clean, and engaging web interfaces using Angular & Tailwind CSS.</p>
                    </div>

                    <!-- Card 2 -->
                    <div class="card border-4 border-transparent hover:border-[#5ab3b3] transition-all duration-500 rounded-lg p-6 text-white opacity-0 transform -translate-y-20"
                        data-animate="top">
                        <h2 class="text-2xl font-bold mb-4">API Integration</h2>
                        <p>Seamless connection of frontend apps with APIs for dynamic data-driven experiences.</p>
                    </div>

                    <!-- Card 3 -->
                    <div class="card border-4 border-transparent hover:border-[#5ab3b3] transition-all duration-500 rounded-lg p-6 text-white opacity-0 transform translate-x-20"
                        data-animate="right">
                        <h2 class="text-2xl font-bold mb-4">Project Management</h2>
                        <p>Organizing tasks, tracking progress, and ensuring timely delivery of features.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>