/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.container{
    padding-left:6rem;
    padding-right:6rem;
}

.highlight{
    color:#5ab3b3
}

.text-color{
    color:#f3f4f6;
}

.animate-border {
  background-size: 200% 200%;
  animation: border-animate 4s linear infinite;
}


@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slideLeft 1s ease-out forwards;
}

.animate-slide-right {
  animation: slideRight 1s ease-out forwards;
}

.hidden-section {
  opacity: 0;
}